@tailwind base;
@tailwind components;
@tailwind utilities;

/* The Modal (background) */
.modal {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

.video-portrait {
  height: 80vh;
  width: fit-content;
}

.menu-social {
  transform: rotate(-90deg);
  right: -60px;
  top: 78px;
}