@tailwind base;
@tailwind components;
@tailwind utilities;

/* The Modal (background) */
.modal {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
}

* {
  /*border: 1px white dashed;*/
}

iframe {
}

.video-portrait {
  height: 80vh;
  width: fit-content;
}

.menu-social {
  transform: rotate(-90deg);
  right: -66px;
  top: 82px;
}