@tailwind base;
@tailwind components;
@tailwind utilities;

/* The Modal (background) */
.modal {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
}

@media (min-width: 640px) {
  .sm\:top-1\/2 {
  top: 50%;
  }
}