<div id="about-content" class="font-sans
modal hidden w-screen h-screen flex justify-center items-center text-white fixed top-0 z-70">
  <svg class="close-btn w-8 cursor-pointer absolute top-4 right-4 fill-current text-white z-10" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
    <path d="M10 8.586L2.929 1.515 1.515 2.929 8.586 10l-7.071 7.071 1.414 1.414L10 11.414l7.071 7.071 1.414-1.414L11.414 10l7.071-7.071-1.414-1.414L10 8.586z"/>
  </svg>
  <div class="p-4 pt-16 md:pt-24 about-text text-2xl relative">
    <img class="hidden md:block w-45/100 absolute -top-4 -left-20" style="z-index: -1;" src="/img/ozzy_about.jpg">
    <p>Hey, most people call me Ozzy.</p>
    <p>I'm a videoeditor based in Düsseldorf</p>
    <p class="mb-4">and also love to do digital colorgrading.</p>
    <p>Previously worked at <a class="hover:text-neongreen" href="https://omstudios.de/" target="_blank">Omstudios</a>, <a class="hover:text-neongreen" href="http://www.congaz.de/" target="_blank">Congaz</a> and <a class="hover:text-neongreen" href="https://gooqx.com/" target="_blank">Gooqx</a>.</p>
    <p class="mb-4">Now doing freelance work.</p>
    <p>Feel free to get in touch.</p>
    <p class="mb-8"><a href="mailto:info@ozantasci.com">info@ozantasci.com</a></p>
    <ul class="text-xs md:text-tiny font-extrabold">
      <span class="mr-2 hover:text-neongreen"><a href="https://www.instagram.com/ozantasci_/" target="_blank">INSTAGRAM</a></span>
      <span class="mr-2 hover:text-neongreen"><a href="https://vimeo.com/ozantasci" target="_blank">VIMEO</a></span>
      <span class="hover:text-neongreen"><a href="mailto:info@ozantasci.com">E-MAIL</a></span>
    </ul>
  </div>
</div>
