<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ozan tasci - videoediting and colorgrading</title>
    <meta name="description" content="Ozan Tasci. Videoeditor and Colorist based in Düsseldorf. Working with DaVinci Resolve and Adobe Premiere Pro. Mail: info@ozantasci.com Fon: 0049-15730337727">
    <link href="https://fonts.googleapis.com/css?family=Astloch:400,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
    <script async defer data-website-id="57a45113-ca3b-4ea7-b8df-45cc156cbb51" src="https://umami.theloker.com/umami.js"></script>
  </head>
  <body class="bg-black text-white">
    {{ content | safe }}
  </body>
</html>
