---
layout: base.njk
---
<div class="flex w-screen h-screen items-center justify-center">
  <img id="loading-spinner" src="/img/oval.svg" />
</div>
<div class="font-sans p-4 md:px-8 bg-gray w-screen max-w-full max-h-full">
  <div class="toggle-visibility hide absolute bottom-0 right-4 md:text-xs font-extrabold z-50"><div id="sound-toggle" hide class="cursor-pointer"><span>SOUND:</span><span id="sound-on-off" class="text-red-600 cursor-pointer hover:text-neongreen"> OFF</span></div>
  </div>
  <ul class="toggle-visibility hide menu-social-home font-sans text-xs font-extrabold absolute z-50">
    <span class="mr-2 hover:text-neongreen"><a href="https://www.instagram.com/ozantasci_/" target="_blank">INSTAGRAM</a></span>
    <span class="mr-2 hover:text-neongreen"><a href="https://vimeo.com/ozantasci" target="_blank">VIMEO</a></span>
    <span class="hover:text-neongreen"><a href="mailto:info@ozantasci.com">E-MAIL</a></span>
  </ul>
  <ul class="toggle-visibility hide menu-about font-sans font-extrabold fixed w-auto md:text-xs md:absolute bottom-0 z-50">
    <span class="cursor-pointer mr-2 hover:text-neongreen" id="about-btn">ABOUT</span>
    <span class="mr-2 hidden md:inline">→ 0157 30337727</span>
    <span id="imprint-btn" class="hover:text-neongreen cursor-pointer" >IMPRINT</span>
  </ul>
  <nav class="font-astloch font-bold fixed top-0 w-screen py-4 text-3xl md:text-4xl xl:text-5xl md:absolute md:top-44/100 z-60 md:w-auto">
    <span id="ozzy-btn" class="cursor-pointer mr-4 md:mr-16 xl:mr-24">O. Tasci</span>
    <a href="/work" id="editing-btn" class="toggle-visibility hide hover:text-neongreen cursor-pointer mr-4 md:mr-8 xl:mr-16">projects</a>
  </nav>
  <video poster="/img/reel_thumbnail.jpg" id="showreel" autoplay playsinline muted loop class="object-cover fixed right-0 bottom-0 w-full h-full">
    <source src="videos/REEL_12_RF_26.mp4" type="video/mp4">
  </video>
</div>

{% include 'about.njk' %}
{% include 'imprint.njk' %}
<script type="text/javascript" src="/js/index.js"></script>
