---
layout: base.njk
---
{%- include 'menus.njk' -%}

<div class="flex w-screen h-screen items-center justify-center">
  <img id="loading-spinner" src="/img/oval.svg" />
</div>

<video id="showreel" autoplay playsinline muted loop class="md:object-cover fixed right-0 bottom-0 w-full h-full"></video>

{% include 'about.njk' %}
{% include 'imprint.njk' %}
<script type="text/javascript" src="/js/index.js"></script>
