---
layout: base.njk
---
{% include 'menus.njk' %}

<div class="h-screen flex justify-center items-center">
  <div class="relative overflow-hidden" style="height:95vh;width:95vw;">
    <div class="video video-editing cursor-pointer md:absolute md:w-13/100 md:left-3/100 md:top-15/100 z-30" data-title="VERTIGO 'STAN'" onmouseover="videoTitle.innerHTML = this.dataset.title;this.style.zIndex = 49;" onmouseleave="handleMouseLeaveVideo(event)">
      <iframe class="hidden" src="https://player.vimeo.com/video/205709481?color=ffffff&title=0&byline=0&portrait=0" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
      <video playsinline muted onmouseover="this.play()" onmouseout="this.pause();this.currentTime = 0;" loop>
        <source src="/videos/vertigo_stan.mp4" type="video/mp4">
      </video>
    </div>
    <div class="video video-editing video-grading cursor-pointer md:absolute md:w-21/100 md:left-10/100" data-title="SHOWREEL" onmouseover="videoTitle.innerHTML = this.dataset.title;this.style.zIndex = 49;" onmouseleave="handleMouseLeaveVideo(event)">
      <iframe class="hidden" src="https://player.vimeo.com/video/363599488?title=0&byline=0&portrait=0" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
      <video playsinline autoplay muted onmouseover="this.play()" onmouseout="this.pause();this.currentTime = 0;" loop>
        <source src="/videos/reel_thumb.mp4" type="video/mp4">
      </video>
    </div>
    <div class="video video-editing video-grading cursor-pointer md:absolute md:w-21/100 md:left-28/100 md:top-4/30 z-30" data-title="C&A 'BLOGGER BUDAPEST'" onmouseover="videoTitle.innerHTML = this.dataset.title;this.style.zIndex = 49;" onmouseleave="handleMouseLeaveVideo(event)">
      <iframe class="hidden" src="https://player.vimeo.com/video/359363528?title=0&byline=0&portrait=0" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
      <video playsinline muted onmouseover="this.play()" onmouseout="this.pause();this.currentTime = 0;" loop>
        <source src="/videos/ca_blogger_budapest.mp4" type="video/mp4">
      </video>
    </div>
    <div class="video video-grading cursor-pointer md:absolute md:w-8/30 md:left-13/30 z-20" data-title="DIE SAMMLERIN" onmouseover="videoTitle.innerHTML = this.dataset.title;this.style.zIndex = 49;" onmouseleave="handleMouseLeaveVideo(event)">
      <iframe class="hidden" src="https://player.vimeo.com/video/157830504?title=0&byline=0&portrait=0" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
      <video playsinline muted onmouseover="this.play()" onmouseout="this.pause();this.currentTime = 0;" loop>
        <source src="/videos/die_sammlerin.mp4" type="video/mp4">
      </video>
    </div>
    <div class="video video-editing cursor-pointer md:absolute md:w-11/30 md:left-54/100 md:top-4/30 md:z-10" data-title="IAA COMMUNICATION" onmouseover="videoTitle.innerHTML = this.dataset.title;this.style.zIndex = 49;" onmouseleave="handleMouseLeaveVideo(event)">
      <iframe class="hidden" src="https://player.vimeo.com/video/228678898?color=ffffff&title=0&byline=0&portrait=0" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
      <video playsinline muted onmouseover="this.play()" onmouseout="this.pause();this.currentTime = 0;" loop>
        <source src="/videos/iaa_communication.mp4" type="video/mp4">
      </video>
    </div>
    <div class="video video-grading cursor-pointer md:absolute md:w-13/100 md:left-73/100 md:top-6/100" data-title="VERTIGO 'ROCKS'" onmouseover="videoTitle.innerHTML = this.dataset.title;this.style.zIndex = 49;" onmouseleave="handleMouseLeaveVideo(event)">
      <iframe class="hidden" src="https://player.vimeo.com/video/266007340?title=0&byline=0&portrait=0" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
      <video playsinline muted onmouseover="this.play()" onmouseout="this.pause();this.currentTime = 0;" loop>
        <source src="/videos/vertigo_rocks.mp4" type="video/mp4">
      </video>
    </div>
    <div class="video video-grading cursor-pointer md:absolute md:w-11/100 md:right-0" data-title="ADIDAS 'HOME OF CLASSICS 2'" onmouseover="videoTitle.innerHTML = this.dataset.title;this.style.zIndex = 49;" onmouseleave="handleMouseLeaveVideo(event)">
      <iframe class="hidden video-portrait" src="https://player.vimeo.com/video/357061741?title=0&byline=0&portrait=0" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
      <video playsinline muted onmouseover="this.play()" onmouseout="this.pause();this.currentTime = 0;" loop>
        <source src="/videos/adidas_home_of_classics_2.mp4" type="video/mp4">
      </video>
    </div>


    <div class="video video-grading cursor-pointer md:absolute md:w-11/30 md:top-3/12 md:z-20" data-title="CLOCKHOUSE 'CALIFORNIA BANDIT'" onmouseover="videoTitle.innerHTML = this.dataset.title;this.style.zIndex = 59;" onmouseleave="handleMouseLeaveVideo(event)">
      <iframe class="hidden" src="https://player.vimeo.com/video/359365226?title=0&byline=0&portrait=0" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
      <video playsinline muted onmouseover="this.play()" onmouseout="this.pause();this.currentTime = 0;" loop>
        <source src="/videos/clockhouse_california_bandit.mp4" type="video/mp4">
      </video>
    </div>
    <div class="video video-editing video-grading cursor-pointer md:absolute md:w-3/12 md:left-28/100 md:top-47/100 md:z-10" data-title="CLOCKHOUSE 'PARTY'" onmouseover="videoTitle.innerHTML = this.dataset.title;this.style.zIndex = 59;" onmouseleave="handleMouseLeaveVideo(event)">
      <iframe class="hidden" src="https://player.vimeo.com/video/358454203?title=0&byline=0&portrait=0" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
      <video playsinline muted onmouseover="this.play()" onmouseout="this.pause();this.currentTime = 0;" loop>
        <source src="/videos/clockhouse_party.mp4" type="video/mp4">
      </video>
    </div>
    <div class="video video-editing cursor-pointer md:absolute md:w-18/100 md:left-41/100 md:top-37/100 md:z-20" data-title="WHO AM I" onmouseover="videoTitle.innerHTML = this.dataset.title;this.style.zIndex = 59;" onmouseleave="handleMouseLeaveVideo(event)">
      <iframe class="hidden" src="https://player.vimeo.com/video/360892607?title=0&byline=0&portrait=0" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
      <video playsinline muted onmouseover="this.play()" onmouseout="this.pause();this.currentTime = 0;" loop>
        <source src="/videos/who_am_i.mp4" type="video/mp4">
      </video>
    </div>
    <div class="video editing video-editing video-grading cursor-pointer md:absolute md:w-11/100 md:left-61/100 md:top-4/12 z-10" data-title="ADIDAS 'HOME OF CLASSICS 1'" onmouseover="videoTitle.innerHTML = this.dataset.title;this.style.zIndex = 49;" onmouseleave="handleMouseLeaveVideo(event)">
      <iframe class="hidden video-portrait" src="https://player.vimeo.com/video/357056740?color=ffffff&title=0&byline=0&portrait=0" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
      <video playsinline muted onmouseover="this.play()" onmouseout="this.pause();this.currentTime = 0;" loop>
        <source src="/videos/adidas_home_of_classics_1.mp4" type="video/mp4">
      </video>
    </div>
    <div class="video video-grading cursor-pointer md:absolute md:w-19/100 md:right-0 md:top-47/100 md:z-30" data-title="CLOCKHOUSE 'DAZED'" onmouseover="videoTitle.innerHTML = this.dataset.title;this.style.zIndex = 49;" onmouseleave="handleMouseLeaveVideo(event)">
      <iframe class="hidden" src="https://player.vimeo.com/video/358450991?title=0&byline=0&portrait=0" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
      <video playsinline muted onmouseover="this.play()" onmouseout="this.pause();this.currentTime = 0;" loop>
        <source src="/videos/clockhouse_dazed.mp4" type="video/mp4">
      </video>
    </div>


    <div class="video video-editing video-grading cursor-pointer md:absolute md:w-12/100 md:left-4/100 md:top-44/100 md:z-30" data-title="ADIDAS 'NITE JOGGER'" onmouseover="videoTitle.innerHTML = this.dataset.title;this.style.zIndex = 59;" onmouseleave="handleMouseLeaveVideo(event)">
      <iframe class="hidden video-portrait" src="https://player.vimeo.com/video/357179151?title=0&byline=0&portrait=0" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
      <video playsinline muted onmouseover="this.play()" onmouseout="this.pause();this.currentTime = 0;" loop>
        <source src="/videos/adidas_nite_jogger.mp4" type="video/mp4">
      </video>
    </div>
    <div class="video video-grading cursor-pointer md:absolute md:w-19/100 md:left-9/100 md:top-73/100 md:z-40" data-title="CLOCKHOUSE 'RULE BREAKERS'" onmouseover="videoTitle.innerHTML = this.dataset.title;this.style.zIndex = 59;" onmouseleave="handleMouseLeaveVideo(event)">
      <iframe class="hidden" src="https://player.vimeo.com/video/358451389?title=0&byline=0&portrait=0" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
      <video playsinline muted onmouseover="this.play()" onmouseout="this.pause();this.currentTime = 0;" loop>
        <source src="/videos/clockhouse_rule_breakers.mp4" type="video/mp4">
      </video>
    </div>
    <div class="video video-grading cursor-pointer md:absolute md:w-19/100 md:left-34/100 md:top-78/100 md:z-10" data-title="LGOONY 'NACHT'" onmouseover="videoTitle.innerHTML = this.dataset.title;this.style.zIndex = 59;" onmouseleave="handleMouseLeaveVideo(event)">
      <iframe class ="hidden" src="https://player.vimeo.com/video/358451767?title=0&byline=0&portrait=0" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
      <video playsinline muted onmouseover="this.play()" onmouseout="this.pause();this.currentTime = 0;" loop>
        <source src="/videos/lgoony_nacht.mp4" type="video/mp4">
      </video>
    </div>
    <div class="video video-editing cursor-pointer md:absolute md:w-11/30 md:left-44/100 md:top-56/100" data-title="FIGUR LEMUR 'MASTERPLAN'" onmouseover="videoTitle.innerHTML = this.dataset.title;this.style.zIndex = 59;" onmouseleave="handleMouseLeaveVideo(event)">
      <iframe class="hidden" src="https://player.vimeo.com/video/240447619?title=0&byline=0&portrait=0" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
      <video playsinline muted onmouseover="this.play()" onmouseout="this.pause();this.currentTime = 0;" loop>
        <source src="/videos/figur_lemur_masterplan.mp4" type="video/mp4">
      </video>
    </div>
    <div class="video video-editing video-grading cursor-pointer md:absolute md:w-8/30 md:left-63/100 md:top-70/100 md:z-10" data-title="GOOQX 'THE STUDIO'" onmouseover="videoTitle.innerHTML = this.dataset.title;this.style.zIndex = 49;" onmouseleave="handleMouseLeaveVideo(event)">
      <iframe class="hidden" src="https://player.vimeo.com/video/359366611?title=0&byline=0&portrait=0" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
      <video playsinline muted onmouseover="this.play()" onmouseout="this.pause();this.currentTime = 0;" loop>
        <source src="/videos/gooqx_the_studio.mp4" type="video/mp4">
      </video>
    </div>
    <div class="video video-editing cursor-pointer mb-12 md:absolute md:w-24/100 md:left-73/100 md:top-9/12 md:z-20" data-title="DJ TOMEKK 'TEXT YOU BACK'" onmouseover="videoTitle.innerHTML = this.dataset.title;this.style.zIndex = 49;" onmouseleave="handleMouseLeaveVideo(event)">
      <iframe class="hidden" src="https://player.vimeo.com/video/361755269?title=0&byline=0&portrait=0" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
      <video playsinline muted onmouseover="this.play()" onmouseout="this.pause();this.currentTime = 0;" loop>
        <source src="/videos/dj_tomekk_text_you_back.mp4" type="video/mp4">
      </video>
    </div>
  </div>
</div>

<div id="myModal" class="modal hidden fixed items-center justify-center z-60 left-0 top-0 w-full h-full overflow-auto">
  <div class="mx-auto embed-container" style="width:100%;">
  </div>
  <img class="absolute" style="z-index:-1;" src="/img/oval.svg" />
  <svg class="close-btn w-8 cursor-pointer absolute top-4 right-4 fill-current text-white z-10" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
    <path d="M10 8.586L2.929 1.515 1.515 2.929 8.586 10l-7.071 7.071 1.414 1.414L10 11.414l7.071 7.071 1.414-1.414L11.414 10l7.071-7.071-1.414-1.414L10 8.586z"/>
  </svg>
</div>

{% include 'about.njk' %}
{% include 'imprint.njk' %}
<script type="text/javascript" src="/js/projects.js"></script>
