---
layout: base.njk
---
{% include 'menus.njk' %}

<div class="h-screen flex justify-center items-center">
  <div class="relative" style="height:95vh;width:95vw;">
    <div class="video video-editing cursor-pointer absolute w-13/100 left-3/100 top-15/100 z-30" data-title="VERTIGO 'STAN'" onmouseenter="videoTitle.innerHTML = this.dataset.title;this.style.zIndex = 49;" onmouseleave="handleMouseLeaveVideo(event)">
      <iframe class="hidden" src="https://player.vimeo.com/video/205709481?color=ffffff&title=0&byline=0&portrait=0" frameborder="0" allow="fullscreen" allowfullscreen></iframe>
      <video playsinline muted onmouseenter="this.play()" onmouseleave="this.pause();this.currentTime = 0;" loop>
        <source src="/videos/vertigo_stan.mp4#t=0.2" type="video/mp4">
      </video>
    </div>
    <div class="video video-editing video-grading cursor-pointer absolute w-21/100 left-10/100" data-title="SHOWREEL" onmouseenter="videoTitle.innerHTML = this.dataset.title;this.style.zIndex = 49;" onmouseleave="handleMouseLeaveVideo(event)">
      <iframe class="hidden" src="https://player.vimeo.com/video/363599488?title=0&byline=0&portrait=0" frameborder="0" allow="fullscreen" allowfullscreen></iframe>
      <video playsinline autoplay muted onmouseenter="this.play()" onmouseleave="this.pause();this.currentTime = 0;" loop>
        <source src="/videos/reel_thumb.mp4" type="video/mp4">
      </video>
    </div>
    <div class="video video-editing video-grading cursor-pointer absolute w-21/100 left-28/100 top-4/30 z-30" data-title="C&A 'BLOGGER BUDAPEST'" onmouseenter="videoTitle.innerHTML = this.dataset.title;this.style.zIndex = 49;" onmouseleave="handleMouseLeaveVideo(event)">
      <iframe class="hidden" src="https://player.vimeo.com/video/359363528?title=0&byline=0&portrait=0" frameborder="0" allow="fullscreen" allowfullscreen></iframe>
      <video playsinline muted onmouseenter="this.play()" onmouseleave="this.pause();this.currentTime = 0;" loop>
        <source src="/videos/ca_blogger_budapest.mp4#t=0.2" type="video/mp4">
      </video>
    </div>
    <div class="video video-grading cursor-pointer absolute w-8/30 left-13/30 z-20" data-title="DIE SAMMLERIN" onmouseenter="videoTitle.innerHTML = this.dataset.title;this.style.zIndex = 49;" onmouseleave="handleMouseLeaveVideo(event)">
      <iframe class="hidden" src="https://player.vimeo.com/video/157830504?title=0&byline=0&portrait=0" frameborder="0" allow="fullscreen" allowfullscreen></iframe>
      <video playsinline muted onmouseenter="this.play()" onmouseleave="this.pause();this.currentTime = 0;" loop>
        <source src="/videos/die_sammlerin.mp4#t=0.2" type="video/mp4">
      </video>
    </div>
    <div class="video video-editing cursor-pointer absolute w-11/30 left-54/100 top-4/30 z-10" data-title="IAA COMMUNICATION" onmouseenter="videoTitle.innerHTML = this.dataset.title;this.style.zIndex = 49;" onmouseleave="handleMouseLeaveVideo(event)">
      <iframe class="hidden" src="https://player.vimeo.com/video/228678898?color=ffffff&title=0&byline=0&portrait=0" frameborder="0" allow="fullscreen" allowfullscreen></iframe>
      <video playsinline muted onmouseenter="this.play()" onmouseleave="this.pause();this.currentTime = 0;" loop>
        <source src="/videos/iaa_communication.mp4#t=0.2" type="video/mp4">
      </video>
    </div>
    <div class="video video-grading cursor-pointer absolute w-13/100 left-73/100 top-6/100" data-title="VERTIGO 'ROCKS'" onmouseenter="videoTitle.innerHTML = this.dataset.title;this.style.zIndex = 49;" onmouseleave="handleMouseLeaveVideo(event)">
      <iframe class="hidden" src="https://player.vimeo.com/video/266007340?title=0&byline=0&portrait=0" frameborder="0" allow="fullscreen" allowfullscreen></iframe>
      <video playsinline muted onmouseenter="this.play()" onmouseleave="this.pause();this.currentTime = 0;" loop>
        <source src="/videos/vertigo_rocks.mp4#t=0.2" type="video/mp4">
      </video>
    </div>
    <div class="video video-grading cursor-pointer absolute w-11/100 right-0" data-title="ADIDAS 'HOME OF CLASSICS 2'" onmouseenter="videoTitle.innerHTML = this.dataset.title;this.style.zIndex = 49;" onmouseleave="handleMouseLeaveVideo(event)">
      <iframe class="hidden video-portrait" src="https://player.vimeo.com/video/357061741?title=0&byline=0&portrait=0" frameborder="0" allow="fullscreen" allowfullscreen></iframe>
      <video playsinline muted onmouseenter="this.play()" onmouseleave="this.pause();this.currentTime = 0;" loop>
        <source src="/videos/adidas_home_of_classics_2.mp4#t=0.2" type="video/mp4">
      </video>
    </div>


    <div class="video video-grading cursor-pointer absolute w-11/30 top-3/12 z-20" data-title="CLOCKHOUSE 'CALIFORNIA BANDIT'" onmouseenter="videoTitle.innerHTML = this.dataset.title;this.style.zIndex = 59;" onmouseleave="handleMouseLeaveVideo(event)">
      <iframe class="hidden" src="https://player.vimeo.com/video/359365226?title=0&byline=0&portrait=0" frameborder="0" allow="fullscreen" allowfullscreen></iframe>
      <video playsinline muted onmouseenter="this.play()" onmouseleave="this.pause();this.currentTime = 0;" loop>
        <source src="/videos/clockhouse_california_bandit.mp4#t=0.2" type="video/mp4">
      </video>
    </div>
    <div class="video video-editing video-grading cursor-pointer absolute w-3/12 left-28/100 top-47/100 z-10" data-title="CLOCKHOUSE 'PARTY'" onmouseenter="videoTitle.innerHTML = this.dataset.title;this.style.zIndex = 59;" onmouseleave="handleMouseLeaveVideo(event)">
      <iframe class="hidden" src="https://player.vimeo.com/video/358454203?title=0&byline=0&portrait=0" frameborder="0" allow="fullscreen" allowfullscreen></iframe>
      <video playsinline muted onmouseenter="this.play()" onmouseleave="this.pause();this.currentTime = 0;" loop>
        <source src="/videos/clockhouse_party.mp4#t=0.2" type="video/mp4">
      </video>
    </div>
    <div class="video video-editing cursor-pointer absolute w-18/100 left-41/100 top-37/100 z-20" data-title="WHO AM I" onmouseenter="videoTitle.innerHTML = this.dataset.title;this.style.zIndex = 59;" onmouseleave="handleMouseLeaveVideo(event)">
      <iframe class="hidden" src="https://player.vimeo.com/video/360892607?title=0&byline=0&portrait=0" frameborder="0" allow="fullscreen" allowfullscreen></iframe>
      <video playsinline muted onmouseenter="this.play()" onmouseleave="this.pause();this.currentTime = 0;" loop>
        <source src="/videos/who_am_i.mp4#t=0.2" type="video/mp4">
      </video>
    </div>
    <div class="video editing video-editing video-grading cursor-pointer absolute w-11/100 left-61/100 top-4/12 z-10" data-title="ADIDAS 'HOME OF CLASSICS 1'" onmouseenter="videoTitle.innerHTML = this.dataset.title;this.style.zIndex = 49;" onmouseleave="handleMouseLeaveVideo(event)">
      <iframe class="hidden video-portrait" src="https://player.vimeo.com/video/357056740?color=ffffff&title=0&byline=0&portrait=0" frameborder="0" allow="fullscreen" allowfullscreen></iframe>
      <video playsinline muted onmouseenter="this.play()" onmouseleave="this.pause();this.currentTime = 0;" loop>
        <source src="/videos/adidas_home_of_classics_1.mp4#t=0.2" type="video/mp4">
      </video>
    </div>
    <div class="video video-grading cursor-pointer absolute w-19/100 right-0 top-47/100 z-30" data-title="CLOCKHOUSE 'DAZED'" onmouseenter="videoTitle.innerHTML = this.dataset.title;this.style.zIndex = 49;" onmouseleave="handleMouseLeaveVideo(event)">
      <iframe class="hidden" src="https://player.vimeo.com/video/358450991?title=0&byline=0&portrait=0" frameborder="0" allow="fullscreen" allowfullscreen></iframe>
      <video playsinline muted onmouseenter="this.play()" onmouseleave="this.pause();this.currentTime = 0;" loop>
        <source src="/videos/clockhouse_dazed.mp4#t=0.2" type="video/mp4">
      </video>
    </div>


    <div class="video video-editing video-grading cursor-pointer absolute w-12/100 left-4/100 top-44/100 z-30" data-title="ADIDAS 'NITE JOGGER'" onmouseenter="videoTitle.innerHTML = this.dataset.title;this.style.zIndex = 59;" onmouseleave="handleMouseLeaveVideo(event)">
      <iframe class="hidden video-portrait" src="https://player.vimeo.com/video/357179151?title=0&byline=0&portrait=0" frameborder="0" allow="fullscreen" allowfullscreen></iframe>
      <video playsinline muted onmouseenter="this.play()" onmouseleave="this.pause();this.currentTime = 0;" loop>
        <source src="/videos/adidas_nite_jogger.mp4#t=0.2" type="video/mp4">
      </video>
    </div>
    <div class="video video-grading cursor-pointer absolute w-19/100 left-9/100 top-73/100 z-40" data-title="CLOCKHOUSE 'RULE BREAKERS'" onmouseenter="videoTitle.innerHTML = this.dataset.title;this.style.zIndex = 59;" onmouseleave="handleMouseLeaveVideo(event)">
      <iframe class="hidden" src="https://player.vimeo.com/video/358451389?title=0&byline=0&portrait=0" frameborder="0" allow="fullscreen" allowfullscreen></iframe>
      <video playsinline muted onmouseenter="this.play()" onmouseleave="this.pause();this.currentTime = 0;" loop>
        <source src="/videos/clockhouse_rule_breakers.mp4#t=0.2" type="video/mp4">
      </video>
    </div>
    <div class="video video-grading cursor-pointer absolute w-19/100 left-34/100 top-78/100 z-10" data-title="LGOONY 'NACHT'" onmouseenter="videoTitle.innerHTML = this.dataset.title;this.style.zIndex = 59;" onmouseleave="handleMouseLeaveVideo(event)">
      <iframe class ="hidden" src="https://player.vimeo.com/video/358451767?title=0&byline=0&portrait=0" frameborder="0" allow="fullscreen" allowfullscreen></iframe>
      <video playsinline muted onmouseenter="this.play()" onmouseleave="this.pause();this.currentTime = 0;" loop>
        <source src="/videos/lgoony_nacht.mp4#t=0.2" type="video/mp4">
      </video>
    </div>
    <div class="video video-editing cursor-pointer absolute w-11/30 left-44/100 top-56/100" data-title="FIGUR LEMUR 'MASTERPLAN'" onmouseenter="videoTitle.innerHTML = this.dataset.title;this.style.zIndex = 59;" onmouseleave="handleMouseLeaveVideo(event)">
      <iframe class="hidden" src="https://player.vimeo.com/video/240447619?title=0&byline=0&portrait=0" frameborder="0" allow="fullscreen" allowfullscreen></iframe>
      <video playsinline muted onmouseenter="this.play()" onmouseleave="this.pause();this.currentTime = 0;" loop>
        <source src="/videos/figur_lemur_masterplan.mp4#t=0.2" type="video/mp4">
      </video>
    </div>
    <div class="video video-editing video-grading cursor-pointer absolute w-8/30 left-63/100 top-70/100 z-10" data-title="GOOQX 'THE STUDIO'" onmouseenter="videoTitle.innerHTML = this.dataset.title;this.style.zIndex = 49;" onmouseleave="handleMouseLeaveVideo(event)">
      <iframe class="hidden" src="https://player.vimeo.com/video/359366611?title=0&byline=0&portrait=0" frameborder="0" allow="fullscreen" allowfullscreen></iframe>
      <video playsinline muted onmouseenter="this.play()" onmouseleave="this.pause();this.currentTime = 0;" loop>
        <source src="/videos/gooqx_the_studio.mp4#t=0.2" type="video/mp4">
      </video>
    </div>
    <div class="video video-editing cursor-pointer absolute w-24/100 left-73/100 top-9/12 z-20" data-title="NOWADAYS" onmouseenter="videoTitle.innerHTML = this.dataset.title;this.style.zIndex = 49;" onmouseleave="handleMouseLeaveVideo(event)">
      <iframe class="hidden" src="https://player.vimeo.com/video/361755269?title=0&byline=0&portrait=0" frameborder="0" allow="fullscreen" allowfullscreen></iframe>
      <video playsinline muted onmouseenter="this.play()" onmouseleave="this.pause();this.currentTime = 0;" loop>
        <source src="/videos/dj_tomekk_text_you_back.mp4#t=0.2" type="video/mp4">
      </video>
    </div>
  </div>
</div>

<div id="myModal" class="px-40 modal hidden fixed items-center justify-center z-60 left-0 top-0 w-full h-full overflow-auto">
  <div class="mx-auto embed-container" style="width:100%;">
  </div>
  <img class="absolute" style="z-index:-1;" src="/img/oval.svg" />
  <svg class="close-btn w-8 cursor-pointer absolute top-4 right-4 fill-current text-white z-10" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
    <path d="M10 8.586L2.929 1.515 1.515 2.929 8.586 10l-7.071 7.071 1.414 1.414L10 11.414l7.071 7.071 1.414-1.414L11.414 10l7.071-7.071-1.414-1.414L10 8.586z"/>
  </svg>
</div>

{% include 'about.njk' %}
{% include 'imprint.njk' %}
<script type="text/javascript" src="/js/projects.js"></script>
<script type="text/javascript" src="/js/parallaxvideos.js"></script>
